<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!-- jQuery -->
    <script
            type="text/javascript"
            src="https://code.jquery.com/jquery-1.12.4.min.js"
    ></script>
    <!-- iamport.payment.js -->
    <script
            type="text/javascript"
            src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"
    ></script>

    <script th:inline="javascript">
        const merchantUid = [[${merchantUid}]];
        const amount = [[${amount}]];
    </script>

    <script>

        const IMP = window.IMP;
        IMP.init("imp70154271");

        function requestPay() {
            const jwtToken = document.getElementById('jwtToken').value;

            IMP.request_pay(
                {
                    pg: "html5_inicis",
                    pay_method: "card",
                    merchant_uid: merchantUid,
                    amount: amount,
                },
                function (rsp) {
                    if (rsp.success) {
                        alert("결제 성공: " + JSON.stringify(rsp));
                        // 결제 성공 시 서버 요청
                        jQuery.ajax({
                            url: "/api/v1/payments/after/validate",
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            data: JSON.stringify({
                                "payment_uid": rsp.imp_uid,      // 결제 고유번호
                                "order_uid": rsp.merchant_uid,
                                "price": rsp.paid_amount
                            })
                        })
                    } else {
                        alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                    }
                }
            );
        }
    </script>
    <meta charset="UTF-8"/>
    <title>Sample Payment</title>
</head>
<body>
<form id="paymentForm">
    <label for="jwtToken">JWT 토큰:</label>
    <input type="text" id="jwtToken" name="jwtToken" placeholder="JWT 토큰 입력" required><br><br>
</form>
<button onclick="requestPay()">결제하기</button>
<!-- 결제하기 버튼 생성 -->
</body>
</html>
